<div style="text-align: center; margin: 10px">
    <h3>Come back and <a href="https://ut-zerowaste-github-io.vercel.app/">visit us here</a> or find a QR-code on any of these
        trashcan locations to help place your waste in the right trash can and help UT be a sustainable, zero-waste
        campus.</h3>
</div>

<div style="margin: 20px 0px;">
    <img src="../../../../assets/map.png" alt="Leaf" height="300" width="300">
</div>

<div style="text-align: center; margin: 10px">
    <h3>We would love your thoughts! Please <a href="https://bit.ly/3zXzsY3">click here</a> to provide your
        feedback on this website or UT's zero waste initiative.</h3>
</div>