<div style="margin-top: 10px;">
    <img src="../../../../assets/trash.jpg" alt="Trash" height="200" width="200">
    <label>Trashcan</label>
    <img src="../../../../assets/recycling_bin.jpg" alt="Recycling" height="200" width="200">
    <label>Recycling Bin</label>
    <img src="../../../../assets/compost_bin.jpg" alt="Compost" height="200" width="200">
    <label>Compost Bin</label>
</div>

<div style="text-align: center; margin: 10px 25px">
    <h4> Please place your trash in appropriate trash bins to reduce landfill waste. If unsure, go back to the previous
        page to learn more. </h4>
    <h4> Once you have placed your trash in the appropriate bin, please continue.</h4>
    <h4>If no compost bin is present, please place it in the landfill or walk to the nearest compost bin outside Little Patio Cafe.</h4>
</div>

<div class="button-selection">
    <button style="margin: 20px; width: 150px; font-size: 16px;" type="button" class="btn btn-primary" (click)="backToDetails()">
        Back to Details
    </button>
    <a routerLink="/result">
        <button style="margin: 20px; float: right; font-size: 16px;" type="button" class="btn btn-primary">
            Continue to Results
        </button>
    </a>
</div>