<h1>BIN IMAGES GO HERE</h1>




<p> Please place your trash in appropriate trash bins to reduce landfill waste. If unsure, go back to the previous page to learn more. </p>


<p> Once you have placed your trash in the appropriate bin, please continue.</p>

<div class="button-selection">
        <button style="margin: 20px; width: 150px;" type="button" class="btn btn-primary" (click)="backToDetails()">
            Back to Details
        </button>
    <a routerLink="/result">
        <button style="margin: 20px; width: 150px; float: right;" type="button" class="btn btn-primary">
            Finished
        </button>
    </a>
</div>