<div style="text-align: center;">
    <h1><b>Welcome!</b></h1>
    <h2>Click through the next few steps to choose your waste and identify the right trashcans to discard them.</h2>
</div>

<div style="margin: 20px 0px;">
    <img src="../../../../assets/Leaf.jpg" alt="Leaf" height="300" width="300">
</div>

<div class="center">
    <a routerLink="/selection">
        <button style="font-size: 22px;" type="button" class="btn btn-primary">
            Click Here to Begin
        </button>
    </a>
</div>