<div *ngIf="currentDetails">
    <h4 style="margin: 20px; font-weight: bold;">Showing details for: {{selectionName}}</h4>

    <div style="margin: 30px 20px;" *ngFor="let item of currentDetails">
        <input type="checkbox" id="{{item.child_id}}" value="item" (change)="onDetailSelected(item.child_id)">
        <label for="{{item.child_id}}" style="margin-left: 5px; font-size:13px;">{{item.name}}</label>
        <!-- <p>hi</p> -->
        <div id="#{{item.child_id}}" style="display: none; margin: 10px 0px 0px 20px;">
            <p>Bin - {{item.bin_type}}</p>
            <p *ngIf="item.details">Details - {{item.details}}</p>
        </div>
    </div>

    <div class="button-selection">
        <a routerLink="/selection">
            <button style="margin: 20px; width: 150px;" type="button" class="btn btn-primary">
                Back to Selection
            </button>
        </a>
        <a routerLink="/result">
            <button style="margin: 20px; width: 150px; float: right;" type="button" class="btn btn-primary" [disabled]="this.selectedDetails.length == 0">
                Finished
            </button>
        </a>
    </div>
</div>